:root{
    --primary-color: #1C1F33;
    --secondary-color: #D72638;
    --tertiary-color: #C2D3CD;
    --accent1-color: #DDD78D;
    --accent2-color: #FF8906;
    --text-color: #fff;
    --white-color: #fff;
}

body{
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Quicksand', sans-serif;
}

header{
    background-color: var(--primary-color);
    color: var(--accent1-color);
    margin: 0;
    padding: 1rem;
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    text-align: center;
}

img[data-src] {
    filter: blur(0.2em);
}
  
img {
    filter: blur(0em);
    transition: filter 3s;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    color: var(--accent1-color);
    text-align: center;
}

footer div{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

#developer-data{
    padding-top: 00.5rem;
    padding-bottom: 00.5rem;
}

