:root{
    --primary-color: #1C1F33;
    --secondary-color: #D72638;
    --tertiary-color: #C2D3CD;
    --accent1-color: #DDD78D;
    --accent2-color: #FF8906;
    --text-color: #fff;
    --white-color: #fff;
}

body{
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Quicksand', sans-serif;
}

header{
    background-color: var(--primary-color);
    color: var(--accent1-color);
    text-align: center;
    padding: 1rem;
}

footer{
    background-color: var(--primary-color);
    color: var(--accent1-color);
    text-align: center;
}

#developer-data{
    display: flex;
    flex-direction: column;
    border-top: 0.05rem dashed var(--tertiary-color);
    padding-top: 00.5rem;
    padding-bottom: 00.5rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.cards section{
    border: 0.05rem dashed var(--primary-color);
    background-color: var(--tertiary-color);
    padding: 1rem;
    margin: 1rem;
}

h1, h2, p{
    margin: 0;
    text-align: center;
}

.cards h2{
    padding-bottom: 1rem;
}

.cards img[data-src] {
    filter: blur(0.2em);
}

.cards img{
    margin-top: 1rem;
    width: 100%;
    filter: blur(0em);
    transition: filter 3s;
}

.cards img:hover{
    box-shadow: 0 0 2rem var(--primary-color);
}