@media (min-width: 48em){
    #main-content{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
    }

    .card1{
        grid-column: 1/2;
    }

    .card2{
        grid-column: 2/3;
    }

    .card3{
        grid-column: 3/4;
    }
}