@charset "UTF-8"; /* not necessary */

:root{
	--primary-color: #353535;
	--secondary-color: #3C6E71;
	--accent1-color: #fff;
	--accent2-color: #D9D9D9;
	--tertiary-color: #9D69A3;
}

body {
	font-size: 16px;
	font-family: "Sansita", Ubuntu, sans-serif;
}

header,
footer {
	background-color: var(--primary-color);
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}

h1 {
	color: var(--accent2-color);
}

h2, h3 {
	color: var(--primary-color);
}

p {
	padding: .5rem;
}

nav {
	display: flex;
	flex-direction: column;
	background-color: var(--secondary-color);
	text-align: center;
	box-shadow: 0 0 30px var(--primary-color);
}

nav a {
	display: block;
	color: var(--accent2-color);
	text-align: center;
	padding: 1rem;
	text-decoration: none;
	font-size: 1rem;
}

nav a:hover {
	background-color: var(--accent2-color);
	color: var(--primary-color);
}

.active{
	background-color: var(--tertiary-color);
	color: var(--accent1-color);
}

main{
	display: flex;
	flex-direction: column;
}

fieldset{
	margin-left: 1rem;
	margin-right: 1rem;	
}

footer {
	margin-top: 1rem;
	display: flex;
	padding: 1rem;
	justify-content: space-between;
	font-weight: 700;
	color: var(--accent2-color);
}

fieldset ul{
	padding-left: 0;
}

fieldset ul li{
	padding-bottom: 0.5rem;
	margin-left: 1rem;
}

.image-elem{
	list-style: none;
}

.image-elem img{
	border: 0.2rem solid var(--tertiary-color);
}

main article {
	margin: 1rem;
}

.main-scheme{
	display: flex;
}

.colors{
	display: flex;
	flex-direction: column;
}

fieldset div{
	padding: 1rem;
}

fieldset:nth-child(1) div{
	background-color: #0A0908;
	color: #fff;
}

fieldset:nth-child(2) div{
	background-color: #5E503F;
	color: #fff;
}

fieldset:nth-child(3) div{
	background-color: #22333B;
	color: #fff;
}

fieldset:nth-child(4) div{
	background-color: #EAE0D5;
	color: #000;
}

fieldset:nth-child(5) div{
	background-color: #C6AC8F;
	color: #000;
}

fieldset:nth-child(6) div{
	background-color: #fff;
	color: #0A0908;
}

fieldset:nth-child(7) div{
	background-color: #000;
	color: #fff;
}

.heading_font{
	font-family: 'Quicksand', sans-serif;
}

.paragraph_font{
	font-family: 'Lato', sans-serif;
}

.colored_paragraph{
	background-color: #1C1F33;
	color: #FFFFFF;
	font-family: 'Lato', sans-serif;
}