@charset "UTF-8"; /* not necessary */
/* bluegrey matter   #637f80 light  #536872  #708090  #536878  #36454f dark */
:root{
	--primary-color: #353535;
	--secondary-color: #3C6E71;
	--accent1-color: #fff;
	--accent2-color: #D9D9D9;
}


body {
	font-size: 16px;
	font-family: "Sansita", Ubuntu, sans-serif;
}

header,
footer {
	background-color: var(--primary-color);
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

header,
nav,
main,
footer {
	max-width: 960px;
	margin: 0 auto;
}

h1 {
	font-size: 2rem;
	color: var(--accent2-color);
}
h2, h3 {
	padding: .5rem;
	color: var(--primary-color);
}

p {
	padding: .5rem;
}

nav {
	background-color: var(--secondary-color);
	text-align: center;
	box-shadow: 0 0 30px var(--primary-color);
}

nav {
	display: flex;
	flex-direction: column;
}

nav div {
	flex: 1 1 auto;
}

nav a {
	display: block;
	color: var(--accent2-color);
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 0.9rem;
}

nav a:hover {
	background-color: var(--accent2-color);
	color: var(--primary-color);
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;
	font-size: 0.85rem;
}

main picture {
	display: none;
	margin: 1rem;
}

main article {
	margin: 1rem;
}

main article ul {
    list-style: none;
    text-align: center;
}

footer {
	display: flex;
	padding: 1rem;
	justify-content: space-between;
	font-weight: 700;
	color: var(--accent2-color);
}

.colors {
	width: 100%;
	min-width: 350px;
	margin-top: 1rem;
	text-align: center;
}
.colors th {
	background-color: #999;
	padding: 0.5rem;
}
.colors td{
	width: 20%;
	height: 3em;
	padding: 0.5rem;
}

.primary {
	background-color: #1C1F33;
	color: #fff;
}
.secondary {
	background-color: #D72638;
	color: #fff;
}
.accent1 {
	background-color: #FF8906;
	color: #fff;
}
.accent2{
	background-color: #689689;
	color: #fff;
}

.text_color{
	background-color: #FFFFFF;
}

.heading_font{
	font-family: 'Quicksand', sans-serif;
}

.paragraph_font{
	font-family: 'Lato', sans-serif;
}

.colored_paragraph{
	background-color: #1C1F33;
	color: #FFFFFF;
	font-family: 'Lato', sans-serif;
}