:root{
    /*
    --primary-color: #1C1F33;
    --secondary-color: #D72638;
    --tertiary-color: #C2D3CD;
    --accent1-color: #DDD78D;
    --accent2-color: #FF8906;
    */
    --primary-color: #0A0908;
    --secondary-color: #5E503F;
    /*--tertiary-color: #22333B;*/
    --tertiary-color: #22333B;
    --accent1-color: #EAE0D5;
    /*--accent1-color: #EAE0D5;*/
    --accent2-color: #C6AC8F;
    --text-color: #0A0908;
    --text-on-color: #EAE0D5;
    --white-color: #fff;

}

body{
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Quicksand', sans-serif;
}

header{
    background-color: var(--primary-color);
    color: var(--text-on-color);
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

#name-enterprise{
    grid-column-start: 1;
    display: flex;
    align-items: center;
    justify-content: stretch;
    padding: 0.5rem;
}

#name-enterprise img{
    height: 4rem;
    margin-right: 0.5rem;
    border-radius: 2rem;
}

#name-enterprise h1{
    margin: 0;
}

#social-media{
    grid-column-start: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

#social-media img{
    height: 2rem;
    padding-right: 00.5rem;
}

#ham-button{
    grid-column-start: 3;
    background: transparent;
    border: none;
    color: var(--text-on-color);
    font-size: 2rem;
    text-align: end;
    padding: 0.5rem;
}

#ham-button span:nth-child(1){
    display: block;
}

#ham-button span:nth-child(2){
    display: none;
}

#ham-button.open span:nth-child(1){
    display: none;
}

#ham-button.open span:nth-child(2){
    display: block;
}

header nav{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
}

#main-nav{
    list-style: none;
    display: none;
    padding: 0;
    margin: 0;
}

#main-nav.open {
    display: block;
}

#main-nav li a{
    height: 2rem;
    display: flex;
    align-items: center;
    padding: 1rem 2vw;
    text-decoration: none;
    color: var(--text-on-color);
    border-top: 1px solid var(--accent2-color);
    background-color: var(--secondary-color);
}

#main-nav li.active a{
    background-color: var(--accent2-color);
    color: var(--primary-color);
}

#main-nav li a:hover{
    background-color: var(--accent1-color);
    color: var(--text-color);
}

#main-nav img{
    width: 2rem;
    padding-right: 0.5rem;
}

#date{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    background-color: var(--white-color);
    padding: 0.5rem;
    width: auto;
    text-align: center;
    color: var(--text-color);
    border: 0.5rem solid var(--primary-color);
}

main{
    display: flex;
    flex-direction: column;
}

main a{
    width: fit-content;
    display: block;
    text-decoration: none;
    background-color: var(--secondary-color);
    padding: 0.5rem;
    color: var(--text-on-color);
    border-radius: 0.5rem;
}

main a:hover{
    background-color: var(--accent1-color);
    color: var(--text-color);
}

/*#callToAction, #event, #weather, #release, #spotlights{
    height: 200px;
    background-color: var(--accent1-color);
    color: var(--text-color);
    border-bottom: 1px solid var(--primary-color);
}*/

#call-to-action{
    position: relative;
    background-color: var(--white-color);
}

#call-to-action img{
    width: 100%;
}

#call-to-action h2{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    margin: 0;
    text-shadow: 0.5rem 0.5rem 0.5rem var(--accent1-color);
}

#call-to-action a{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

#event{
    border-bottom: 0.1rem solid var(--primary-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#weather{
    border-bottom: 0.1rem solid var(--primary-color);
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#release {
    border-bottom: 0.1rem solid var(--primary-color);
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#spotlights{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-bottom: 0.1rem solid var(--primary-color);
    justify-content: center;
    align-items: center;
    text-align: center;
}


.spotlight:nth-child(1){
    /*flex-grow: 1;*/
    padding: 0.5rem;
    border-bottom: 0.05rem dashed var(--primary-color);
}

.spotlight:nth-child(2){
    /*flex-grow: 1;*/
    padding: 0.5rem;
}

.spotlight:nth-child(3){
    display: none;
    padding: 0.5rem;
}

.spotlight:nth-child(1) div{
    display: flex;
    flex-direction: column;
}

.spotlight:nth-child(2) div{
    display: flex;
    flex-direction: column;
}

.spotlight:nth-child(3) div{
    display: flex;
    flex-direction: column;
}

#join-us{
    display: none;
    padding: 1rem;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    color: var(--text-on-color);
    text-align: center;
}

footer img{
    height: 8rem;
    margin-top: 0.5rem;
    border-radius: 4rem;
}

footer div{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

.span-with-link{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a{
    width: fit-content;
    display: block;
    text-decoration: none;
    background-color: var(--secondary-color);
    padding: 0.5rem;
    color: var(--text-on-color);
    border-radius: 0.5rem;
}

footer a:hover{
    background-color: var(--accent1-color);
    color: var(--text-color);
}

/*
footer a{
    text-decoration: none;
    color: var(--text-color);
}

footer a:hover{
    color: var(--accent2-color);
}
*/
#developer-data{
    border-top: 0.05rem dashed var(--tertiary-color);
    padding-top: 00.5rem;
    padding-bottom: 00.5rem;
}

.discover-main{
    display: flex;
    flex-direction: column;
}

.discover-image img[data-src] {
    filter: blur(0.2rem);
}
  
.discover-image img {
    filter: blur(0rem);
    transition: filter 2s;
    width: 100%;
}

.discover-section{
    /*border-bottom: 0.1rem solid var(--primary-color);*/
    padding: 1rem;
}

.discover-section h2, h3{
    margin: 0;
}

.hidden-image{
    display: none;
}

.discover-article{
    border-bottom: 0.1rem solid var(--primary-color);
    text-align: center;
    padding-bottom: 1rem;
}

.join-main{
    display: flex;
}

.join-benefits{
    border-bottom: 0.1rem solid var(--primary-color);
}

.join-benefits, .join-application{
    padding-left: 1rem;
    padding-right: 1rem;
}

.join-benefits h2, .join-application h2{
    text-align: center;
}

.form-join{
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    gap: 0.2rem;
    color: var(--text-color);
}

.form-join input:required{
    border-left: 0.2rem solid red;
}

.form-join input{
    padding: 0.5rem;
}

.form-join textarea{
    padding: 0.5rem;
}

.form-join label{
    padding-top: 1rem;
}

.thankyou-main h1{
    text-align: center;
    margin: 0;
    padding: 1rem 1rem 0 1rem;
}

.thankyou-main p{
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

.thankyou-main img{
    width: 100%;
}

#membership-level{
    display: flex;
    flex-direction: column;
}

#submit{
    background-color: var(--secondary-color);
    color: var(--text-on-color);
    border-color: var(--accent2-color);
    margin-top: 1rem;
}

#submit:hover{
    background-color: var(--accent1-color);
    color: var(--text-color);
}

.contact-main{
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.contact-h1{
    text-align: center;
}

.contact-form{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 0.2rem;
}

.contact-form label{
    padding-top: 1rem;
}

.contact-form input{
    padding: 0.5rem;
}

#message{
    padding: 0.5rem;
}

.directoryMain a{
    max-width: 5rem;
    text-align: center;
    text-decoration: none;
    background-color: var(--secondary-color);
    padding: 0.5rem;
    color: var(--text-color);
    border-radius: 0.5rem;
}

.directoryMain a:hover{
    background-color: var(--accent1-color);
    color: var(--text-color);
}

.menu{
    text-align: center;
    margin-top: 1rem;
}

#grid, #list{
    padding: 0.5rem;
    width: 5rem;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-color: var(--accent2-color);
    margin-bottom: 1rem;
}

#grid{
    margin-right: 1rem;
}

#grid:hover, #list:hover{
    background-color: var(--accent1-color);
    color: var(--text-color);
}

.grid{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
}

.grid section{
    padding: 1rem;
    padding-bottom: 1.5rem;
    border-top: 0.1rem solid var(--primary-color);
}

.grid img{
    max-width: 10rem;
    padding-bottom: 1rem;
}

.list{
    display: flex;
    flex-direction: column;
}

.list section{
    display: grid;
    grid-template-columns: 4rem 1fr;
    column-gap: 0.5rem;
    border-top: 0.1rem solid var(--primary-color);
    padding: 0.5rem;
}

.list p{
    margin: 0;
}

.list img{
    max-width: 4rem;
    display: block;
    grid-row: 1/5;
    align-self: center;
}