@media (min-width: 60rem){    
    #socialMedia{
        grid-column-start: 3;
        justify-content: end;
    }

    #hamButton {
        display: none;
    }

    header nav{
        grid-row-start: 1;
        grid-row-end: 2;       
        grid-column-start: 2;
        grid-column-end: 3;
        display: flex;
        justify-content: center;
        padding: 00.5rem;
    }

    #mainNav{
        display: flex;
    }

    #mainNav li a{
        border: none;
        border-right: 1px solid var(--accent2-color);
    }

    #mainNav.open{
        display: flex;
    }

    #date{
        grid-row-start: 2;
    }

    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        row-gap: 1rem;
        column-gap: 1rem;
        margin: 1rem;
    }

    #callToAction{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 4;
        /*height: fit-content;*/
    }

    
    #callToAction img{
        object-fit: cover;
        height: 100%;
    }
    

    .release{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 4;
        border: 00.1rem solid var(--primary-color);
        background-color: var(--tertiary-color);
    }

    #spotlights{
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 4;
        grid-column-end: 5;
        grid-template-columns: 1fr;
        padding: 0rem;
        background-color: var(--white-color);
        border: 0.1rem solid var(--primary-color);
        padding: 1rem;
    }

    .spotlight:nth-child(1){
        padding-bottom: 1rem;
        border-right: 0rem;
        border-bottom: 0.05rem dashed var(--primary-color);
    }

    .spotlight:nth-child(2){
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-right: 0rem;
        border-bottom: 0.05rem dashed var(--primary-color);
    }

    .spotlight:nth-child(3){
        padding-top: 1rem;
        display: block;
    }

    #event{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        border: 00.1rem solid var(--primary-color);
        background-color: var(--white-color);
    }
    
    #weather{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        border: 00.1rem solid var(--primary-color);
    }

    #joinUs{
        display: block;
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
        border: 00.1rem solid var(--primary-color);

    }

    .discoverMain{
        max-width: 90rem;
        display: grid;
        grid-template-columns: 1fr 50%;
        justify-content: center;
    }

    .demographics{
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
    }

    .discoverImages{
        grid-column: 2/3;
        display: flex;
        flex-direction: column;
    }

    .discoverImage img{
        width: 100%;
    }
}