@media (min-width: 32rem) {
    /*
    :root{
        --primary-color: #1C1F33;
        --secondary-color: #D72638;
        --tertiary-color: #C2D3CD;
        --accent1-color: #DDD78D;
        --accent2-color: #FF8906;
        --text-color: #fff;
        --white-color: #fff;
    }
    */
    
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
    }

    #callToAction{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .release{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #spotlights{
        /*grid-row-start: 3;*/
        grid-row-start: 4;
        grid-column-start: 1;
        grid-column-end: 3;
        border-bottom: 0.1rem solid var(--primary-color);
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .spotlight div{
        display: flex;
        flex-direction: column;
    }

    #event{
        grid-row-start: 4;
        grid-row-start: 5;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    #weather{
        grid-row-start: 4;
        grid-row-start: 5;
        grid-column-start: 2;
        grid-column-end: 3;
        background-color: var(--white-color);
        border-left: 0.1rem solid var(--primary-color);
    }

    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr auto;
        align-items: center;
    }

    #developerData{
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .discoverSection{
        border: none;
    }

    .discoverSection:nth-child(odd){
        background-color: var(--white-color);
    }

    .discoverArticle:nth-child(1){
        border-top: 0.1rem solid var(--primary-color);
    }

    .discoverImage img:hover {
        box-shadow: 0 0 2rem var(--primary-color);
    }
}